label {
    font-size: 0.85rem;
}

.crafting-type {
    text-align: center;
}

.crafting-type > select {
    margin: 0.5rem;
    padding-right: 0.5rem;
}

.skill-block {
    grid-row-gap: 0.25rem;
}

.skill-block > input {
    display: inline-block;
    margin: 0 auto;
}

#difficulty-divider {
    padding: 0 0.25rem;
}