.closeable-title {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.75rem;
    margin: 0;
}

.closeable-title span {
    width: fit-content;
    width: -moz-fit-content;
    background: white;
    padding: 0 2px;
    white-space: pre;
}

.closeable-title span:first-child {
    margin-left: 1rem;
    text-align: left;
}

.closeable-title img:last-child {
    margin-right: 1rem;
    text-align: right;
    margin-left: auto;
}

.closeable-body {
    text-align: justify;
    position: relative;
}

.closeable-body > div {
    text-align: center;
}

.closeable-button {
    height: 1rem;
    padding: 2px;
    background: var(--accent-color);
    position: absolute;
    top: calc(2.5px - 1em);
    right: calc(0.35em + 4px);
}

.index-ul > li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.index-ul {
    padding-inline-end: 40px;
    text-align: justify;
}

/*
.index-ul > li > a, .index-ul > li > img {
    float: left;
}
*/

.index-ul .question-mark {
    margin-left: 5px;
    height: 1rem;
}

.index-ul > li > * {
    display: flex;
    align-items: center;
}

/*  Lixeiras edits starts from here */

.footer{
    background-color: var(--primary-color);
    border: none;
    border-top: 1px solid var(--shadow-color);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

li{
    font-size: 1.15rem;
    font-weight: 500;
    text-wrap: nowrap;
    padding: 0.5rem 1rem;
    min-width: 18.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 1px 2px 1px var(--shadow-color);
    align-content: center;
    text-align: center;
    transition: transform 0.3s ease;
}

li span{
    display: flex;
    justify-content: space-between;
}

li span a{
    cursor: pointer;
    box-sizing: border-box;
}

li:hover {
    transform: scale(1.1);
    box-shadow:  0 0 2px 2px var(--accent-color);
}

li a{
    color: var(--text-color);
    text-decoration: none;
}

legend{
    background-color: var(--primary-color);
    padding: 0.25rem 0.8rem;
    border-radius: 2em;
    font-weight: 500;
    box-shadow: 0 0 1px 1px var(--shadow-color);
}

.closeable-body{
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 1px 1px var(--shadow-color);
    border: none;
}