.closeable-title {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.75rem;
    margin: 0;
}

.closeable-title span {
    width: fit-content;
    width: -moz-fit-content;
    background: white;
    padding: 0 2px;
    white-space: pre;
}

.closeable-title span:first-child {
    margin-left: 1rem;
    text-align: left;
}

.closeable-title img:last-child {
    margin-right: 1rem;
    text-align: right;
    margin-left: auto;
}

.closeable-body {
    text-align: justify;
    position: relative;
}

.closeable-body > div {
    text-align: center;
}

.closeable-button {
    height: 0.75rem;
    background: white;
    padding: 0 2px;
    position: absolute;
    top: calc(2.5px - 1em);
    right: calc(0.35em + 4px);
}

.index-ul > li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.index-ul {
    padding-inline-end: 40px;
    text-align: justify;
}

/*
.index-ul > li > a, .index-ul > li > img {
    float: left;
}
*/

.index-ul .question-mark {
    margin-left: 5px;
    height: 1rem;
}

.index-ul > li > * {
    display: flex;
    align-items: center;
}

/*  Lixeiras edits starts from here */

body{
    background-color: #1a2633;
}

.header-title{
    color: white;
}

legend{
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2em;
    font-weight: 700;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
}

fieldset{
    background-color: #8fb9dd;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
}

div, li, a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

li{
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2em;
    font-weight: 700;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
}

@media (min-width: 768px){
    li{
        width: 380px;
    }
}

li::marker{
    color: yellowgreen;
}