.emblems-section > div {
    padding: 0;
}

.emblem-title {
    text-align: center;
}

#housing {
    text-align: center;
    grid-row-gap: 0.25rem; 
}

#housing .col-1 {
    justify-content: center;
}

.housing-options {
    padding-top: 0;
    padding-bottom: 0;
}