.quest-block {
    padding-top: 1rem;
}

#quest-name {
    padding-right: 0.5rem;
}

#quest-exp, #quest-times {
    width: 4rem;
}

.quest-info {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.quest-info > p {
    margin: 0;
    margin-bottom: 0.25rem;
}

.quest-info > p:last-child {
    margin-bottom: 0;
}